* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    color: white;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: darkblue;
    border-bottom: 1px solid #007acc;
}

p {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 15px 0;
    background-color: #f9f9f9;
    border-left: 4px solid #007acc;
    border-radius: 5px;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main img {
    float: right;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    background-color: white;
    color: #333;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    border-top: 1px solid #000;
}